<body id="page-top">
  <!-- Page Wrapper -->
  <div id="wrapper">
    <%- include ("../../partials/sidebar") %>

    <!-- Content Wrapper -->
    <div id="content-wrapper" class="d-flex flex-column">
      <!-- Main Content -->
      <div id="content">
        <%- include ("../../partials/top-navbar") %>

        <!-- Begin Page Content -->
        <div class="container-fluid">
          <!-- DataTales Example -->
          <div class="card shadow mb-4">
            <div class="card-header d-flex justify-content-between py-3">
              <h6 class="m-0 align-self-center font-weight-bold text-primary">
                subjectsList
              </h6>
              <a
                href="/subjects/create-subject/"
                class="btn btn-primary btn-icon-split"
              >
                <span class="text">Create Subject</span>
              </a>
            </div>
            <div class="card-body">
              <div class="table-responsive">
                <table
                  class="table"
                  id="dataTable"
                  width="100%"
                  cellspacing="0"
                >
                  <thead>
                    <tr>
                      <th>Subject Pic</th>
                      <th>Title</th>
                      <th>Created On</th>
                      <th>Short Description</th>
                    </tr>
                  </thead>
                  <tbody>
                    <% if(subjectsList.length > 0) { %> <% subjectsList.forEach(subject =>
                    { %>
                    <tr>

                      <td>
                        <a href="/subjects/edit-subject/<%- subject.id %>">
                          <img class="img-profile rounded-circle custom-img"
                          src="../img/subject-images/<%- subject.subjectPic %>">
                        </a>
                        
                      </td>
                      <td><%- subject.title %></td>
                      <td><%- subject.createdAt.toLocaleDateString() %></td>
                      <td><%- subject.shortDescription %></td>
                    </tr>
                    <%})%> <% } %>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
        <!-- /.container-fluid -->
      </div>
      <!-- End of Main Content -->

      <!-- Footer -->
      <footer class="sticky-footer bg-white">
        <div class="container my-auto">
          <div class="copyright text-center my-auto">
            <span>Copyright &copy; Your Website 2020</span>
          </div>
        </div>
      </footer>
      <!-- End of Footer -->
    </div>
    <!-- End of Content Wrapper -->
  </div>
  <!-- End of Page Wrapper -->
</body>
