<body id="page-top">
  <!-- Page Wrapper -->
  <div id="wrapper">
    <%- include ("../../partials/sidebar") %>

    <!-- Content Wrapper -->
    <div id="content-wrapper" class="d-flex flex-column">
      <!-- Main Content -->
      <div id="content">
        <%- include ("../../partials/top-navbar") %>

        <!-- Begin Page Content -->
        <div class="container-fluid">
          <!-- Page Heading -->
          <div class="card shadow mb-4">
            <div class="card-header py-3">
              <h6 class="m-0 font-weight-bold text-primary">Create Lesson</h6>
            </div>
            <div class="card-body">
              <form class="user" id="lessonForm">
                <div class="row">
                  <div class="col-md-6">
                    <div class="form-group">
                      <label for="categoryTitle">Lesson Title</label>
                      <input
                        type="text"
                        name="title"
                        class="form-control form-control-user"
                        id="categoryTitle"
                        value="<%- lesson.title %>"
                        aria-describedby="categoryTitle"
                        placeholder="Enter title"
                      />
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="form-group">
                      <label for="category"
                        >Which subject are you adding for?
                      </label>

                      <select
                        name="subjectId"
                        id="subjectValue"
                        class="form-control"
                      >
                        <option>choose below</option>
                        <% subjectsList.forEach(subject => { %>
                        <option value="<%-subject.id %>" <%= subject.id === lesson.subjectId ? 'selected' : '' %>>
                          <%- subject.title %>
                        </option>
                        <%})%>
                      </select>
                    </div>
                  </div>
                </div>
                <div class="row mb-2">
                  <div class="col-md-12">
                    <div class="form-group">
                      <label for="shortDescription">Short Description</label>
                      <textarea class="form-control" name="shortDescription">
                        <%- lesson.shortDescription %>
                      </textarea>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-12 mb-4">
                    <div class="image-display-section">
                      <i
                        class="fas fa-window-close close-icon"
                        onclick="showFileSection()"
                      ></i>
                      <img
                        class="category-image"
                        alt="Image placeholder"
                        src="/img/lesson-images/<%- lesson.lessonPic %>"
                      />
                    </div>
                    <div class="file-section-container">
                      <div style="width: 100%">
                        <label for="lessonPic" style="display: block"
                          >Lesson pic</label
                        >
                        <input
                          type="file" 
                          name="lessonPic"
                          id="lessonPic"
                          placeholder=""
                        />
                        <i
                          class="fas fa-window-close close-icon"
                          onclick="showImageSection()"
                        ></i>
                      </div>
                    </div>
                  </div>
                </div>
                <button
                  type="button"
                  class="btn btn-primary btn-user btn-block"
                  onclick="editLesson('<%- lesson.id %>')"
                >
                  Update Lesson
                </button>
                <hr />
              </form>
            </div>
          </div>
        </div>
        <!-- /.container-fluid -->
      </div>
      <!-- End of Main Content -->

      <!-- Footer -->
      <footer class="sticky-footer bg-white">
        <div class="container my-auto">
          <div class="copyright text-center my-auto">
            <span>Copyright &copy; Your Website 2020</span>
          </div>
        </div>
      </footer>
      <!-- End of Footer -->
    </div>
    <!-- End of Content Wrapper -->
  </div>
  <!-- End of Page Wrapper -->

  <script>
    const editLesson = (lessonId) => {
      const formElement = document.querySelector("#lessonForm");
      const formData = new FormData(formElement);
      postLessonData(formData, lessonId).then(async (response) => {
        if (response.status === 200) {
          window.location.href = "/lessons";
        }
      });
    };

    const postLessonData = async (lessonData, lessonId) => {
      const { accessToken } = JSON.parse(localStorage.getItem("tokens"));

      const response = await fetch(`/api/v1/lesson/edit-lesson/${lessonId}`, {
        method: "PUT",
        headers: {
          Authorization: `Bearer ${accessToken}`,
        },
        body: lessonData,
      });
      return response;
    };
  </script>
</body>
