<body id="page-top">
  <!-- Page Wrapper -->
  <div id="wrapper">
    <%- include ("../../partials/sidebar") %>

    <!-- Content Wrapper -->
    <div id="content-wrapper" class="d-flex flex-column">
      <!-- Main Content -->
      <div id="content">
        <%- include ("../../partials/top-navbar") %>

        <!-- Begin Page Content -->
        <div class="container-fluid">
          <!-- DataTales Example -->
          <div class="card shadow mb-4">
            <div class="card-header d-flex justify-content-between py-3">
              <h6 class="m-0 align-self-center font-weight-bold text-primary">
                View Lessons
              </h6>
              <a
                href="/lessons/create-lesson/"
                class="btn btn-primary btn-icon-split"
              >
                <span class="text">Create Lesson</span>
              </a>
            </div>
            <div class="card-body">
              <div class="table-responsive">
                <table
                  class="table"
                  id="dataTable"
                  width="100%"
                  cellspacing="0"
                >
                  <thead>
                    <tr>
                      <th>Lesson Pic</th>
                      <th>Title</th>
                      <th>Created On</th>
                      <th>Short Description</th>
                    </tr>
                  </thead>
                  <tbody>
                    <% if(lessonsList.length > 0) { %> <%
                    lessonsList.forEach(lesson => { %>
                    <tr>
                      <td>
                        <a href="/lessons/edit-lesson/<%- lesson.id %>">
                          <img
                            class="img-profile rounded-circle custom-img"
                            src="/dynamic/lesson-images/<%- lesson.lessonPic %>"
                          />
                        </a>
                      </td>
                      <td><%- lesson.title %></td>
                      <td><%- lesson.createdAt.toLocaleDateString() %></td>
                      <td><%- lesson.shortDescription %></td>
                      <td>
                        <a
                          onclick="setDataId('lessonId','<%-lesson.id %>')"
                          class="dropdown-item"
                          href="#"
                          data-toggle="modal"
                          data-target="#deleteModal"
                        >
                          <i class="fas fa-trash"></i>
                        </a>
                      </td>
                    </tr>
                    <%})%> <% } %>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
        <!-- /.container-fluid -->
      </div>
      <!-- End of Main Content -->

      <!-- Footer -->
      <footer class="sticky-footer bg-white">
        <div class="container my-auto">
          <div class="copyright text-center my-auto">
            <span>Copyright &copy; Your Website 2020</span>
          </div>
        </div>
      </footer>
      <!-- End of Footer -->
    </div>
    <!-- End of Content Wrapper -->
  </div>
  <!-- End of Page Wrapper -->

  <%- include ("../../partials/modal-view") %>


  <script>
    window.deleteItem = () => {
      const lessonId = window.lessonId;
      deleteLessonData(lessonId).then(async (response) => {
        if (response.status === 200) {
          window.lessonId = null;
          window.deleteItem = null;
          window.location.href = "/lessons";
        }
      });
    };

    const deleteLessonData = async (lessonId) => {
      const { accessToken } = JSON.parse(localStorage.getItem("tokens"));
      
      const response = await fetch(
        `/api/v1/lesson/delete-lesson/${lessonId}`,
        {
          method: "DELETE",
          headers: {
            Authorization: `Bearer ${accessToken}`,
          },
        }
      );
      return response;
    };
  </script>
</body>
