<body id="page-top">
  <!-- Page Wrapper -->
  <div id="wrapper">
    <%- include ("../../partials/sidebar") %>

    <!-- Content Wrapper -->
    <div id="content-wrapper" class="d-flex flex-column">
      <!-- Main Content -->
      <div id="content">
        <%- include ("../../partials/top-navbar") %>

        <!-- Begin Page Content -->
        <div class="container-fluid">
          <!-- Page Heading -->
          <div class="card shadow mb-4">
            <div class="card-header py-3">
              <h6 class="m-0 font-weight-bold text-primary">Edit Semester</h6>
            </div>
            <div class="card-body">
              <form class="user" id="semesterForm">
                <div class="row">
                  <div class="col-md-6">
                    <div class="form-group">
                      <label for="categoryTitle">Semester Title</label>
                      <input
                        type="text"
                        name="title"
                        value="<%- semester.title %>"
                        class="form-control form-control-user"
                        id="categoryTitle"
                        aria-describedby="categoryTitle"
                        placeholder="Enter title"
                      />
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="form-group">
                      <label for="shortDescription">Short Description</label>
                      <input
                        type="text"
                        name="shortDescription"
                        class="form-control form-control-user"
                        id="categoryPic"
                        value="<%- semester.shortDescription %>"
                        placeholder="Short Decription"
                      />
                    </div>
                  </div>
                </div>
                <div class="row mb-2">
                  <div class="col-md-6">
                    <div class="form-group">
                      <label for="category">Category </label>
                        
                        <select name="categoryId" class="form-control">
                        <option>choose below</option>
                        <% categoriesList.forEach(category => { %>
                        <option value="<%-category.id %>" <%= category.id ===semester.id ? 'selected': "" %>>
                          <%- category.title %>
                        </option>
                        <%})%>
                      </select>
                    </div>
                  </div>
                  
                </div>
                <div class="row mb-3">
                  <div class="col-md-12">
                    <div class="image-display-section">
                      <i
                        class="fas fa-window-close close-icon"
                        onclick="showFileSection()"
                      ></i>
                      <img
                        class="category-image"
                        alt="Image placeholder"
                        src="/dynamic/semester-images/<%- semester.semesterPic %>"
                      />
                    </div>
                    <div class="file-section-container">
                      <div style="width: 100%">
                        <label for="semesterPic" style="display: block"
                          >Semester pic</label
                        >
                        <input
                          type="file"
                          name="semesterPic"
                          id="semesterPic"
                          placeholder=""
                        />
                        <i
                          class="fas fa-window-close close-icon"
                          onclick="showImageSection()"
                        ></i>
                      </div>
                    </div>
                    
                  </div>
                </div>
                <button
                  type="button"
                  class="btn btn-primary btn-user btn-block"
                  onclick="editSemester('<%- semester.id %>')"
                >
                  Update Semester
                </button>
                <hr />
              </form>
            </div>
          </div>
        </div>
        <!-- /.container-fluid -->
      </div>
      <!-- End of Main Content -->

      <!-- Footer -->
      <footer class="sticky-footer bg-white">
        <div class="container my-auto">
          <div class="copyright text-center my-auto">
            <span>Copyright &copy; Your Website 2020</span>
          </div>
        </div>
      </footer>
      <!-- End of Footer -->
    </div>
    <!-- End of Content Wrapper -->
  </div>
  <!-- End of Page Wrapper -->

  <script>
    const editSemester = (semesterId) => {
      const formElement = document.querySelector("#semesterForm");
      const formData = new FormData(formElement);
      postSemesterData(formData,semesterId).then(async (response) => {
        if (response.status === 200) {
          window.location.href = "/semesters";
        }
      });
    };

    const postSemesterData = async (semesterData,semesterId) => {
      const { accessToken } = JSON.parse(localStorage.getItem("tokens"));

      const response = await fetch(`/api/v1/semester/edit-semester/${semesterId}`, {
        method: "PUT",
        headers: {
          Authorization: `Bearer ${accessToken}`,
        },
        body: semesterData,
      });
      return response;
    };
  </script>
</body>
